#wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh; /* Ensures full height */
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 250px;
    margin-left: 0;
    transition: margin 0.25s ease-out;
    background-color: #212529; /* Dark Background */
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -250px; /* This hides it */
}

#page-content-wrapper {
    width: 100%;
    flex-grow: 1;
}

.sidebar-subheading {
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 1px;
}